.tf-btn {
    width: 100%;
    border-radius: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @include flex(center, center);
    gap: 8px;
    @include transition3;
    &.large {
        padding: 18px 14px;
    }
    &.primary {
        background-color: $primary;
        border: 1px solid $primary;
        color: $white;
        &:hover {
            background-color: $white;
            color: $primary;
            i {
                color: $primary;
            }
        }
    }
    &.rga-border {
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    &.white {
        border: 1px solid transparent;
        background-color: $white;
        color: $primary;
        // &:hover {
        //     background-color: $primary;
        //     color: $white;
        // }
    }
    &.white-2 {
        border: 1px solid transparent;
        background-color: $bg-input;
        color: $primary;
    }
    &.outline {
        border: 1px solid $line;
        color: $primary;
        &:hover {
            background-color: $primary;
            color: $white;
        }
    }
    &.outline-dashed {
        border: 1px dashed rgba(3, 63, 56, 0.5);
        background: #e6ecec;
        color: $primary;
    }
}
.btn-arr,
.back-btn,
.btn-close-modal {
    flex-shrink: 0;
    width: 26px;
    height: 26px;
    @include flex(center, center);
    border-radius: 50%;
    border: 1px solid rgba(3, 63, 56, 0.3);
    i {
        font-size: 16px;
        color: $primary;
    }
    &.primary {
        border: 1px solid $white;
        i {
            color: $white;
        }
    }
}
.btn-reset {
    padding: 8px;
    border-radius: 10000px;
    background: rgba(3, 63, 56, 0.1);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    @include flex(center, center);
}
.btn-close:focus {
    outline: 0;
    box-shadow: unset;
}
.btn-sidebar,
.btn-st2 {
    width: 34px;
    height: 34px;
    border: 1px solid $primary;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        font-size: 18px;
        color: $primary;
    }
    &.primary {
        border-color: $white;
        i {
            color: $white;
        }
    }
}
.group-icon-right {
    display: flex;
    align-items: center;
    gap: 12px;
}
