@mixin flex($alignItem, $justifyContent) {
    display: flex;
    align-items: $alignItem;
    justify-content: $justifyContent;
}
@mixin grid($loop, $num, $row-gap, $col-gap) {
    display: grid;
    grid-template-columns: repeat($loop, $num);
    gap: $row-gap $col-gap;
}
@mixin transformScale {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

@mixin transition3() {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@mixin topcenter() {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
@mixin center() {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin fh-normal() {
    font-style: normal;
    line-height: normal;
}
@mixin wh-full() {
    width: 100%;
    height: 100%;
}
